 body{
            background-color: rgb(187, 122, 122);
            position: fixed;
        }

        .pic {
            width: 300px;
            height: 300px;
            position: static;
        }

        .corner-link {
            position: fixed;
            left: 20px;
            bottom: 20px;
        }